root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = 100

[*.go]
indent_style = tab

[Makefile]
indent_style = tab

[*.yaml]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
